body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fff5f8;
}

h1 {
    color: #d63384;
}

section {
    margin: 40px;
}

img {
    margin: 10px;
    border-radius: 10px;
}